
circle {
  fill: #00ff00 !important;
  /* stroke: #0000ff !important; */
  stroke-width: 0.1px !important;
}

#container .bjs-context-pad {
  background-color: white !important;
  /* color: black !important; */
}



g.djs-bendpoints {
  fill: none;
  padding: 0 !important;
}


body {
  fill: rgb(187, 187, 187);
}

